
.login-left-bg {
    width: 600px;
    height: 571px;
    background:url('../assets/images/people.png') no-repeat;
    background-size: 100% 100%;
}

.ercode {
    width: 250px;
    height: 250px;
    background: url('../assets/images/ercode.png') no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}